.height{
    height: 80vh;
}
.Category span{
    margin-left: 1rem;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
}

.title h2{
        font-weight: 900;
        font-size: 8.75em;
        line-height: 7.875rem;
        /* or 90% */
    
        text-transform: uppercase;
}

.dic p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */    
}




@media (max-width: 576px) {  /* Small screen */

    /* Category span */
    .category {
        margin-left: 0;
        margin-top: 1rem;
        font-size: 1rem;
    }

    /* Title h2 */
    .title h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    /* Description p */
    .dic p {
        font-size: 16px;
        line-height: 26px;
        /* max-width: 100%; */
    }

    .height {
        height: 60vh !important;
        /* Adjust the height as needed */
        justify-content: flex-start;
    }
}

