:root{
    --bg:#040824 !important;
    --font-color:white;
    --muted-font-color: #A7B0EB;
    --bg-blue:#7B43F5 !important;
    --button-bg:#20123F;

}

/* ========================================= */

.row.register{
    height: 80vh;
    text-transform: capitalize;

}
.row .info{
    background-color: var(--bg-blue) ;
}
.info h1{
    font-weight: bold;
}
.info button{
    text-transform: uppercase !important;
    background-color: var(--button-bg) !important;
    color: white !important;
    padding:1rem 3rem ;
    font-weight: 600;
    font-size: 1.1rem;

}
button:hover{
    color: var(--muted-font-color) !important;
}
.info ul{
    text-decoration: none;
    
}

li{
    cursor: pointer;
}


/* ============== form ================= */

.login {
    height: 80vh;
}
.login .form{
    background-color: var();
    text-transform: capitalize;

}
.form p{
    color: var(--muted-font-color);
}

 .form i{
    color: var(--bg-blue);
}

.input-group span,input{
    border-color: #7B43F5 !important;
}
.input-group span{
    border-right: none;
}
.input-group input{
    border-left: none;
    color: white !important;
}
input{
    background-color: transparent;
}

form button{
    background-color: rgba(217, 69, 252, 1) !important;
    
}
form button:hover{
    color: white !important;
}

/* ======================================= */

.login .form{
   box-shadow: 1px 1px 10px 0px rgba(123, 66, 245, 0.69);
}